@font-face {
    font-family: 'tommybold';
    src: url('./fonts/tommybold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'tommyregular';
    src: url('./fonts/tommyregular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }

  footer{
    Animation-name : enter1 ;
    Animation-delay : 0s;
    Animation-duration : 2s;
    Animation-iteration-count : 1;
    z-index: 10;
 }

 @keyframes enter1{
  0%{
     opacity: 0%;
  }
  40%{
     opacity: 0%;
  }
  100%{
     opacity: 100%;
  }
}

  .background-contact{
    width: 51%;
    height: 101%;
    position: absolute;
    top: -1%;
    left: -1%;
    z-index: 1;
  }

  .illustration-contact{
    position: absolute;
    width: 18%;
    top: 30%;
    left: 15%;
    z-index: 3;
    Animation-name : enter1 ;
    Animation-delay : 0s;
    Animation-duration : 2s;
    Animation-iteration-count : 1;
  }

  .tete1{
    position: absolute;
    top: 35%;
    left: 17%;
    z-index: 3;
    width: 3%;
    Animation-name : tete1, enter1 ;
    Animation-delay : 0s, 0s;
    Animation-duration : 20s, 2s;
    Animation-iteration-count : 100000000, 1;
  }

  @keyframes tete1{
    0%{
      width: 3%;
    }
    5%{
      width: 3%;
    }
    15%{
      width: 3.5%;
      left: 16.8%;
      top: 34.8%;
    }
    25%{
      width: 3.5%;
      left: 16.8%;
      top: 34.8%;
    }
    40%{
      width: 3%;
    }
    65%{
      width: 3%;
    }
  }
  
  .tete2{
    position: absolute;
    top: 45%;
    left: 17%;
    z-index: 3;
    width: 3%;
    Animation-name : tete2, enter1 ;
    Animation-delay : 0s, 0s;
    Animation-duration : 20s, 2s;
    Animation-iteration-count : 100000000, 1;
  }

  @keyframes tete2{
    0%{
      width: 3.5%;
      left: 16.8%;
      top: 44.8%;
    }
    10%{
      width: 3%;
      left: 17%;
      top: 45%;
    }
    55%{
      width: 3%;
    }
    70%{
      width: 3.5%;
      left: 16.8%;
      top: 44.8%;
    }
    100%{
      width: 3.5%;
      left: 16.8%;
      top: 44.8%;
    }
  }

  .tete3{
    position: absolute;
    top: 55%;
    left: 17%;
    z-index: 3;
    width: 3%;
    Animation-name : tete3, enter1 ;
    Animation-delay : 0s, 0s;
    Animation-duration : 20s, 2s;
    Animation-iteration-count : 100000000, 1;
  }

  @keyframes tete3{
    0%{
      width: 3%;
    }
    30%{
      width: 3%;
    }
    45%{
      width: 3.5%;
      left: 16.8%;
      top: 54.8%;
    }
    50%{
      width: 3.5%;
      left: 16.8%;
      top: 54.8%;
    }
    55%{
      width: 3%;
    }
    65%{
      width: 3%;
    }
  }

  .loupe{
    position: absolute;
    top: 41.5%;
    left: 15.2%;
    z-index: 3;
    width: 11%;
    Animation-name : loupe1, enter1;
    Animation-delay : 0s, 0s;
    Animation-duration : 20s, 2s;
    Animation-iteration-count : 100000000, 1;
  }

  @keyframes loupe1{
    0%{
      top: 41.5%;
      left: 15.2%;
    }
    15%{
      top: 31.5%;
    }
    25%{
      top: 31.5%;
    }
    40%{
      top: 51.5%;
    }
    50%{
      top: 51.5%;
    }
    65%{
      top: 41.5%;
    }
  }

  .planete-contact{
    position: absolute;
    width: 12%;
    top: 20%;
    left: 10%;
    z-index: 2;
    Animation-name : planete1, enter1 ;
    Animation-delay : 0s, 0s;
    Animation-duration : 10s, 2s;
    Animation-iteration-count : 100000000, 1;
  }

  @keyframes planete1{
    0%{
      width: 12%;
      top: 20%;
    }
    50%{
      width: 14%;
      top: 18%;
    }
  }

  .titre{
    font-family: 'tommyregular';
    font-size: 26px;
    position: absolute;
    top: 5%;
    left: 65%;
    Animation-name : enter1 ;
    Animation-delay : 0s;
    Animation-duration : 2s;
    Animation-iteration-count : 1;
  }

  form{
    font-family: 'tommyregular';
    position: absolute;
    top: 10%;
    left: 65%;
    Animation-name : enter1 ;
    Animation-delay : 0s;
    Animation-duration : 2s;
    Animation-iteration-count : 1;
  }

label
{
	display: block; /* La balise devient de type block. */
	width: 150px;
    margin-top: 20px;
    opacity: 70%;
    font-size: 16px;
}

input{
    margin-top: 15px;
    border-left-style:none ;
    border-right-style:none ;
    border-top-style:none ;
    border-radius: 6px;
    height: 40px;
    border-color: #f6f6f6;
    background-color: #f6f6f6;
    width: 330px;
    font-size: 14px;
    transition: transform .4s;
}

input:focus {
    -ms-transform: scale(1.01); /* IE 9 */
    -webkit-transform: scale(1.01); /* Safari 3-8 */
    transform: scale(1.01);
    overflow: hidden;
    opacity: 90%;
	outline:none;
}

::placeholder{
padding: 5%;
}

select{
        width: 160px;
        padding: 4px;
        border-radius: 6px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        background: rgb(246, 246, 246);
        border: none;
        outline: none;
        display: inline-block;
        cursor: pointer;
        transition: transform .4s;
}

select:hover{
    -ms-transform: scale(1.01); /* IE 9 */
    -webkit-transform: scale(1.01); /* Safari 3-8 */
    transform: scale(1.01);
    overflow: hidden;
    opacity: 90%;
	outline:none;
}

textarea{
    border-left-style:none ;
    border-right-style:none ;
    border-top-style:none ;
    margin-top: 15px;
    border-width: 2px;
    border-color: #f6f6f6;
    background-color: #f6f6f6;
    width: 330px;
    height: 100px;
    resize: none;
    border-radius: 6px;
    font-size: 14px;
    transition: transform .4s;
}

textarea:focus {
    -ms-transform: scale(1.01); /* IE 9 */
    -webkit-transform: scale(1.01); /* Safari 3-8 */
    transform: scale(1.01);
    overflow: hidden;
    opacity: 90%;
	outline:none;
}

::placeholder{
    opacity: 50%;
}

#button-submit{
    margin: 0px;
    margin-top: 15px;
    width: 35%;
    height: 40px;
    border-radius: 6px;
    background: linear-gradient(to right, rgb(255, 230, 0), rgb(255, 161, 46));
    border: none;
    box-shadow: rgba(70, 74, 78, 0.2) 0px 8px 24px;
    transition: transform .4s;
  }

  #button-submit:hover{
    -ms-transform: scale(1.03); /* IE 9 */
    -webkit-transform: scale(1.03); /* Safari 3-8 */
    transform: scale(1.03);
    overflow: hidden;
  }