@font-face {
    font-family: 'tommybold';
    src: url('./fonts/tommybold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'tommyregular';
    src: url('./fonts/tommyregular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }

  .title-pricing{
    font-family: 'tommybold';
    position: absolute;
    font-size: 15px;
    top: 12%;
    left: 46%;
    z-index: 1;
  }

  .desc-pricing{
    font-family: 'tommybold';
    position: absolute;
    font-size: 30px;
    top: 17%;
    left: 42%;
    text-align: center;
    z-index: 1;
  }

  .background-pricing{
    position: absolute;
    width: 101%;
    right: 0%;
    top: 0%;
  }

  .pricing{
    position: absolute;
    width: 60%;
    right: 20%;
    top: 27%;
    z-index: 1;
  }

  .logo1-pricing{
    position: absolute;
    width: 13%;
    right: 65%;
    top: 30%;
    z-index: 1;
    transition: transform .4s;
  }

  .logo1-pricing:hover{
    -ms-transform: scale(1.04); /* IE 9 */
    -webkit-transform: scale(1.04); /* Safari 3-8 */
    transform: scale(1.04);
    overflow: hidden;
}


  .logo2-pricing{
    position: absolute;
    width: 13%;
    right: 34%;
    top: 28%;
    z-index: 1;
    transition: transform .4s;
  }


  .logo2-pricing:hover{
    -ms-transform: scale(1.04); /* IE 9 */
    -webkit-transform: scale(1.04); /* Safari 3-8 */
    transform: scale(1.04);
    overflow: hidden;
  }
  
  .stantard-title{
    font-family: 'tommyregular';
    font-size: 24px;
    position: absolute;
    top: 39%;
    left: 32%;
    z-index: 1;
  }

  .stantard-prix{
    font-family: 'tommyregular';
    font-size: 24px;
    position: absolute;
    top: 43%;
    left: 32%;
    z-index: 1;
  }


  .stantard-mensuelle{
    font-family: 'tommyregular';
    font-size: 14px;
    position: absolute;
    top: 44.2%;
    left: 37%;
    z-index: 1;
    opacity: 50%;
  }

  .stantard-desc{
    font-family: 'tommyregular';
    font-size: 12px;
    position: absolute;
    top: 54%;
    left: 25%;
    z-index: 1;
    opacity: 50%;
  }


  .pro-title{
    font-family: 'tommyregular';
    font-size: 24px;
    position: absolute;
    top: 39%;
    left: 65%;
    z-index: 1;
  }

  .pro-prix{
    font-family: 'tommyregular';
    font-size: 24px;
    position: absolute;
    top: 43%;
    left: 65%;
    z-index: 1;
  }

  .pro-desc{
    font-family: 'tommyregular';
    font-size: 12px;
    position: absolute;
    top: 54%;
    left: 59%;
    z-index: 1;
    opacity: 50%;
  }

  #button3{
    position: absolute;
    border-radius: 25px;
    width: 10%;
    height: 5%;
    top: 76%;
    left: 28%;
    background: linear-gradient(to right, rgb(245, 245, 245), rgb(245, 245, 245));
    box-shadow: rgba(176, 183, 191, 0.2) 0px 8px 24px;
    transition: transform .4s;
    z-index: 2;
  }

  #button3:hover{
    -ms-transform: scale(1.03); /* IE 9 */
    -webkit-transform: scale(1.03); /* Safari 3-8 */
    transform: scale(1.03);
    overflow: hidden;
  }

  #button4{
    position: absolute;
    border-radius: 25px;
    width: 9%;
    height: 5%;
    top: 76%;
    left: 62%;
    background: linear-gradient(to right, rgb(255, 230, 0), rgb(255, 161, 46));
    border: none;
    box-shadow: rgba(70, 74, 78, 0.2) 0px 8px 24px;
    transition: transform .4s;
    z-index: 2;
  }

  #button4:hover{
    -ms-transform: scale(1.03); /* IE 9 */
    -webkit-transform: scale(1.03); /* Safari 3-8 */
    transform: scale(1.03);
    overflow: hidden;
  }

  a {
    text-decoration: none;
    color: black; /*par exemple*/
   }

   a:hover
{
    text-decoration: none;
    color: black;
}

  .offre-link{
    font-family: 'tommy';
    position: absolute;
    font-size: 12px;
    top: 71%;
    left: 29.2%;
    z-index: 2;
    transition: .1s;
  }

  .offre-link:hover{
    opacity: 0.7;
  }


  .offre-link2{
    font-family: 'tommy';
    position: absolute;
    font-size: 12px;
    top: 71%;
    left: 62.6%;
    z-index: 2;
    transition: .1s;
  }

  .offre-link2:hover{
    opacity: 0.7;
  }

  .title-table{
    position: absolute;
    font-family: 'tommy';
    font-size: 14px;
    top: 105%;
    right: 33%;
  }

  .tableau{
    position: absolute;
    font-family: 'tommy';
    text-align: center;
    top: 115%;
    left: 22%;
    z-index: 1;
  }

  th{
    padding: 35px;
  }

  td{
    padding: 25px;
    border-bottom: 2px solid #f7f7f7;
    font-size: 12px;
    opacity: 0.7;
  }

  .logo-validate{
    width: 14%;
  }
  

  .logo-validate2{
    width: 8%;
  }
  
  .copyright-footer{
    position: absolute;
    font-family: 'tommy';
    font-size: 14px;
    top: 190%;
    left: 44%;
    padding: 35px;
}

@keyframes width2 {
    0% {
        width: 3%;
    }
    50% {
        top: 80.2%;
        left: 19.8%;
        width: 3.5%;
      }
  }

  @keyframes width3 {
    0% {
        width: 3%;
    }
    50% {
        top: 80.2%;
        left: 77.8%;
        width: 3.5%;
      }
  }

  .rond-tailor{
    position: absolute;
    width: 3%;
    top: 80%;
    left: 20%;
    transform: rotate(90deg);
    Animation-name : width2 ;
    Animation-delay : 2s;
    Animation-duration : 3s;
    Animation-iteration-count : 100000; 
  }

  .rond-tailor2{
    position: absolute;
    width: 3%;
    top: 80%;
    left: 78%;
    Animation-name : width3 ;
    Animation-delay : 2s;
    Animation-duration : 3s;
    Animation-iteration-count : 100000; 
  }

  .background-rocket-right{
    position: absolute;
    width: 21%;
    top: 164.4%;
    left: 79%;
  }

  .background-rocket-left{
    position: absolute;
    width: 20%;
    top: 166%;
    left: 0%;
  }

  @keyframes move1 {
    0% {
        top: 170%;
        left: 83%;
    }
    50% {
        top: 168%;
        left: 80%;
      }
    100% {
      top: 170%;
      left: 83%;
    }
  }

  @keyframes move2 {
    0% {
        top: 170%;
        left: 6%;
    }
    50% {
        top: 168%;
        left: 10%;
      }
    100% {
      top: 170%;
      left: 6%;
    }
  }

  .planete-tailor-right{
    position: absolute;
    width: 10%;
    top: 170%;
    left: 83%;
    Animation-name : move1 ;
    Animation-delay : 2s;
    Animation-duration : 10s;
    Animation-iteration-count : 100000; 
  }


  .planete-tailor-left{
    position: absolute;
    width: 10%;
    top: 170%;
    left: 6%;
    Animation-name : move2 ;
    Animation-delay : 2s;
    Animation-duration : 10s;
    Animation-iteration-count : 100000; 
  }