

.logotailor{
    width: 2.2%;
    position: absolute;
    text-align: center;
    left: 50px;
    bottom: 20px;
    z-index: 5;
}

li #employe{
    position: absolute;
    left: 220px;
    bottom: 15px;
}


li #feedback{
    position: absolute;
    left: 120px;
    bottom: 15px;
}


li #edt{
    position: absolute;
    left: 320px;
    bottom: 15px;
    z-index: 10;
}

.nav-item{
    margin: 10px;
}

.nav-g{
    text-decoration:none;       
    color: white;
}
 .nav-item{
     z-index: 2;
 }

.ul{
    z-index: 10;
}

#connexion{
    transition: transform .4s;
}

#connexion:hover{
    -ms-transform: scale(1.03); /* IE 9 */
    -webkit-transform: scale(1.03); /* Safari 3-8 */
    transform: scale(1.03);
    overflow: hidden;
}